<html>
    <head>
        <title>New Docotor Information</title>
    </head>
    <body>
        <form>
            <div style="border: 3px solid black; padding: 15px;">

                Patient Information

                <br><br><br>
                <label>AadharNo.: </label>
                <input type="text" name="aadhar" id="aadhar" readonly placeholder="AadharNo." value={{aadhar}}>
                
                <br><br><br>
                <label>CertificateNo.: </label>
                <input type="text" name="certificate" id="certi" readonly placeholder="AadharNo." value={{certificate}}>

                <br><br><br>

                <label>Name: </label> <br>
                <input type="text" name="firstname" id="fname" placeholder="First Name" maxlength="15" required>
                <input type="text" name="midname" id="mname" placeholder="Middle Name" maxlength="15" required>
                <input type="text" name="lastname" id="lname" placeholder="Last Name" maxlength="15" required>

                <br><br><br>
                
                <label>Email: </label>
                <input type="email" name="email" id="email" size="40">
                
                <br><br><br>

                <label>Gender: </label>
                <select name="gender" required>
                    <option name="male" id="male" value="M">Male</option>
                    <option name="female" id="female" value="F">Female</option>
                    <option name="other" id="other" value="O">Other</option>
                </select>

                <br><br><br>

                <label>Date Of Birth:</label>
                <input type="date" name="DOB" id="DOB">

                <br><br><br>

                <label>Contact Number: </label>
                <input type="text" name="contact" id="contact" required maxlength="10">

                <br><br><br>

                <label>Hoospital Address: </label><br>
                <input type="text" name="street1" id="st1" placeholder="Street Address" size="50"><br><br>
                <input type="text" name="street2" id="st2" placeholder="Street Address Line 2" size="50"><br><br>
                <input type="text" name="city" id="city" placeholder="City"> &nbsp;&nbsp;&nbsp;
                <input type="text" name="state" id="state" placeholder="State"> <br><br>
                <input type="text" name="zip" id="zip" placeholder="Area / Zip Code">
            
            </div>
        </form>
    </body>
</html>