<html>

    <head>
        <title>New Patient Information</title>

    </head>

    <body>
        
        <form name="newPatient" action="" method="post">


                Patient Information

                <br><br><br>
                <label>AadharNo.: </label>
                <input type="text" name="aadhar" id="aadhar" placeholder="AadharNo." value={{aadhar}}>

                <br><br><br>

                <label>Name: </label> <br>
                <input type="text" name="firstname" id="fname" placeholder="First Name" maxlength="15" required>
                <input type="text" name="midname" id="mname" placeholder="Middle Name" maxlength="15" required>
                <input type="text" name="lastname" id="lname" placeholder="Last Name" maxlength="15" required>

                <br><br><br>
                <label>Email Id: </label>
                <input type="email" name="email" id="uemail" placeholder="email address" required>

                <br><br><br>

                <label>Gender: </label>
                <select name="gender" required>
                    <option name="male" id="male">Male</option>
                    <option name="female" id="female">Female</option>
                    <option name="other" id="other">Other</option>
                </select>

                <br><br><br>

                <label>Date Of Birth:</label>
                <input type="date" name="DOB" id="DOB">

                <br><br><br>

                <label>Contact Number: </label>
                <input type="text" name="contactNo" id="contactNo" required maxlength="10">

                <br><br><br>

                <label>Address: </label><br>
                <input type="text" name="street1" id="address" placeholder="Street Address" size="50"><br><br>
                <input type="text" name="street2" id="address" placeholder="Street Address Line 2" size="50"><br><br>
                <input type="text" name="city" id="address" placeholder="City"> &nbsp;&nbsp;&nbsp;
                <input type="text" name="state" id="address" placeholder="State"> <br><br>
                <input type="text" name="zip" id="zip" placeholder="Area / Zip Code">

            <br>

                Emergency Contact Information

                <br><br><br>

                <label>Emergency Contact: </label> <br>
                <input type="text" name="efirstname" id="efname" placeholder="First Name" maxlength="15" required>
                <input type="text" name="elastname" id="elname" placeholder="Last Name" maxlength="15" required>

                <br><br><br>

                <label>Relationship: </label> &nbsp;
                <input type="text" name="relation" id="relation">

                <br><br><br>

                <label>Contact Number: </label>
                <input type="text" name="econtact" id="econtact" required maxlength="10">

            <br><br><br>

            <input type="submit" name="submit_patient" value="Submit" id="submitBtn">&nbsp;&nbsp;
            <input type="reset" name="reset" value="Reset" id="resetBtn">&nbsp;&nbsp;

        </form>

    </body>

</html>