<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basic Information</title>
</head>
<body>

    <form action="" method="POST">
        <br><br>
        <label>Pateint Aadhar: </label>
        <input type="text" name="aadhar">
        <br><br>
        <label>Name: </label>
        <input type="text" name="u_name">
        <br><br>
        <label>Age: </label>
        <input type="text" name="u_age">


        <br><br><br>
        <label>Doctor Name:</label>
        <input type="text" name="d_name" id="d_name">

        <br><br>

        <label>Cause: </label><br>
        <textarea name="cause" id="cause" cols="80%" rows="10"></textarea>

        <br><br>
        <label>Medication: </label><br>
        <textarea name="med" id="med" cols="80%" rows="10"></textarea>

        <br><br>
        <label>Special Notes: </label><br>
        <textarea name="notes" id="notes" cols="80%" rows="10"></textarea>

        <br><br><br>
        <input type="submit" name="sub" value="sub">

    </form>

</body>
</html>